/* Template level */
body {
	font: 12px Times, sans-serif;
	margin: 0;
	padding: 28px 48px;  /* Adds horizontal padding to the body */
	height: 100vh;
	display: flex;
	flex-direction: column;
	box-sizing: border-box; /* Ensures padding does not add to the width */
}

#resume {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-between; /* This will distribute spacing evenly */
}

h1 {
	font: 26px Georgia, serif;
	text-align: center;
	margin: 2.5px 0; /* Adjust top and bottom margins only */
}

h2 {
	font-variant-caps: all-small-caps;
	border-width: 1px;
	border-style: none none solid none;
	margin: 5px 0 2.5px; /* Adjusted to provide consistent spacing */
}

section {
	flex-grow: 1; /* Causes sections to expand and take available space */
}

ul {
	margin-top: 4px;
	padding-left: 40px;
}

.item {
	margin-top: 16px;
}

.item>.item-header {
	float: left;
	display: block;
}

.item>.item-header>.item-header-title {
	font-weight: bold;
}

.item>.item-header>.item-header-subtitle {
	font-style: italic;
}

.item>.item-details {
	float: right;
	text-align: right;
}

.item>.item-details>.item-details-title {
	font-weight: bold;
}

.clearfix {
	clear: both;
}

.centered {
	text-align: center;
}

/* Section specific */
/* basics */
.vertical-separator {
	text-align: center;
	padding: 0 10px;
}

.vertical-separator:not(:first-child) {
	border-left: 1px solid #000;
	text-align: center;
}
